// TEMP
.brz-ed-popup-tab-item-conditions {
  min-width: 120px;
}
.brz-ed-option__popup_conditions {
  min-height: 0 !important;
  color: #3dbfe8;
  cursor: pointer;
  font-family: $font-family-1;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 10px !important;
}

.brz-ed-popup-conditions {
  padding: 35px 43px 45px 43px;

  &__spin {
    min-height: 350px;
    text-align: center;
    line-height: 350px;
  }

  &__condition {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;

    & .brz-control__select {
      flex: 1;
      margin-right: 10px;

      & .brz-control__select-current {
        background-color: #fff;
      }
    }
  }
  &__add-condition {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #818a91;
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    &:hover {
      color: #2b3039;
    }

    &:first-child {
      margin-top: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .brz-icon-svg {
      margin-right: 8px;
    }
  }
  &__remove {
    margin-left: auto;
    cursor: pointer;
    color: #818a91;
    &:hover {
      color: #2b3039;
    }
  }
  &__head * {
    margin: 0 0 22px 0;
    color: #2b3039;
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 16px;
  }
  &__trigger-once {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    color: #818a91;
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .brz-ed-popup-conditions__type {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 22px;

    &-text {
      min-width: 105px;
      height: 30px;
      border-radius: 3px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      color: #ffffff;
      font-family: $font-family-1;
      line-height: 1;
      font-size: 14px;
      font-weight: 600;

      .brz-icon-svg {
        font-size: 12px;
        margin-right: 10px;
      }
    }
    &-include {
      .brz-ed-popup-conditions__type-text {
        background-color: #3dbfe8;
      }
    }
    &-exclude {
      .brz-ed-popup-conditions__type-text {
        background-color: #d62c64;
      }
    }
  }
  &__select {
    flex: 1;
    margin-right: 21px;

    & > .brz-ed-popup-conditions__select {
      margin-right: 0;
    }
    .brz-control__select {
      flex: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
      &-current {
        background: #fff;

        &:hover {
          background: #fff;
        }
      }
      &-option {
        color: rgba(#2b3039, 0.85);
      }
      &-options {
        background: #fff;
      }
    }
  }
  &__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .brz-button {
      height: 39px;
      min-width: 102px;
      border-radius: 3px;
      color: #ffffff;
      font-family: $font-family-1;
      font-size: 14px;
      font-weight: 600;
      border: 0;
      outline: none;
      cursor: pointer;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__cancel {
        background-color: rgba(43, 48, 57, 0.5);
      }
      &__save {
        background-color: #3dbfe8;
      }
    }
  }
  & .brz-input {
    width: 100%;
    border-radius: 3px;
    border: 0;
    padding: 7px 10px;
    color: #2b3039;
    font-family: $font-family-1;
    font-size: 13px;
    outline: none;
  }
  .brz-ed-scroll-inner {
    border-right-width: 0 !important;
  }
  .brz-ed-tall-track {
    right: -20px !important;
  }
}
.brz-ed-option__popup_conditions {
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &-count {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #3dbfe8;
    color: #ffffff;
    font-family: $font-family-1;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    letter-spacing: -1px;
  }
  &:last-child {
    padding: 10px 17px;
  }
  &:hover {
    color: #fff !important;

    .brz-ed-option__popup_conditions-count {
      background: #fff;
      color: #03080f;
    }
  }
}
