// Integration
$option-color: #626b70;

// --
.brz-ed-popup-integrations {
  font-family: $font-family-1;

  // Scroll
  .brz-ed-fixed-scroll {
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Popup Wrapper
  .brz-ed-popup-wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    overflow: hidden;
  }

  // Popup Content
  .brz-ed-popup-content {
    height: 560px;
    overflow: hidden;
  }

  // Alerts
  .brz-ed-alert {
    margin-bottom: 26px;
  }

  // ScrollPane
  &__scroll-pane.brz-ed-scroll-pane {
    > .brz-ed-tall-track {
      right: 0;
      width: 5px;

      > .brz-ed-tall-thumb {
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: #cbcdcf;
      }
    }
  }

  // Description
  &__description {
    font-size: 15px;
    font-weight: 500;
    color: #626b70;
    margin-top: 18px;
  }

  // Apps
  &__apps {
    margin: 22px 18px 0 24px;
  }
  &-apps__scroll-pane {
    overflow: auto;
  }
  &-apps__scroll-pane.brz-ed-scroll-pane {
    > .brz-ed-tall-track {
      top: 15px !important;
      right: 7px;
      bottom: 15px !important;
      width: 5px;
      height: auto !important;

      > .brz-ed-tall-thumb {
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: #cbcdcf;
      }
    }
  }
  &__app {
    max-width: 114px;
    flex: 1 1 114px;
    margin: 18px 12px;
    text-align: center;
    cursor: pointer;
  }
  &__app--connected {
    color: #48be24;

    .brz-ed-popup-integrations__app-icon {
      background-color: #48be24;
    }
    &.brz-ed-popup-integrations__app--loading {
      .brz-ed-popup-integrations__app-logo:hover:after,
      .brz-ed-popup-integrations__app-logo:after {
        border-color: #48be24;
      }
    }
    .brz-ed-popup-integrations__app-logo:hover:after,
    .brz-ed-popup-integrations__app-logo:after {
      border-color: #48be24;
    }
  }
  &__app--loading {
    cursor: progress;
    pointer-events: none;

    .brz-ed-popup-integrations__app-logo:hover:after,
    .brz-ed-popup-integrations__app-logo:after {
      border-color: $brand-primary;
    }
  }
  &__app--pro {
    color: $brand-primary-pro;

    .brz-ed-popup-integrations__app-logo--open,
    .brz-ed-popup-integrations__app-logo:hover {
      &:after {
        border-color: $brand-primary-pro;
        background-color: rgba(255, 255, 255, 0.9);
        transition: 0.2s linear border-color, 0.2s linear background-color;
      }
      .brz-ed-popup-integrations__app-icon {
        opacity: 1;
        transition: 0.2s linear opacity;
      }
    }
    .brz-ed-badge {
      position: absolute;
      top: 6px;
      right: 6px;
      z-index: 1;
    }
  }
  &__app-logo {
    position: relative;
    margin-bottom: 12px;
    background-color: #fff;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      transition: 0.2s linear border-color, 0.2s linear background-color;
    }
    &:hover:after {
      border-color: $brand-primary;
      transition: 0.2s linear border-color;
    }
    .brz-img {
      max-width: 100%;
    }
  }
  &__app-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background-color: $brand-primary;
    color: #fff;
    text-align: center;
    z-index: 2;

    i {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__app-icon--pro {
    color: inherit;
    font-size: 16px;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s linear opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  &__app-title {
    font-family: inherit;
    font-size: 13px;
    color: $option-color;
  }

  // Step Connect
  &__connect {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-head {
      .brz-img {
        max-width: 114px;
        margin-bottom: 34px;
      }
      .brz-p {
        line-height: 21px;
        max-width: 220px;
        margin: 0 auto 34px;
      }
    }
    &-body {
      .brz-p {
        text-transform: uppercase;
        margin-bottom: 13px;
      }
      .brz-span {
        color: $brand-primary;
      }
      .brz-input {
        width: 100%;
        height: 46px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;
      }
      .brz-input:invalid ~ .brz-p {
        opacity: 1;
        z-index: 1;
        transition: 0.2s linear opacity;
      }
      .brz-input:focus ~ .brz-p {
        opacity: 0;
        z-index: -1;
        transition: 0.2s linear opacity;
      }
      .brz-ed-btn-default {
        min-width: 79px;
        margin-left: 8px;
      }
    }
  }
  &__connect-auth {
    .brz-ed-btn {
      display: block;
      margin: 0 auto 9px;
    }
  }
  &__connect-label {
    position: relative;
    display: block;
    width: 283px;
    margin: 0 auto 14px;

    &:last-of-type {
      margin-bottom: 37px;
    }
    .brz-p {
      position: absolute;
      top: 50%;
      left: 20px;
      cursor: text;
      transform: translateY(-50%);
      margin: 0;
      opacity: 0;
      transition: 0.2s linear opacity;
    }
  }

  // Progress Breadcrumbs
  &__progress {
    display: flex;
    margin-bottom: 28px;

    &-stage:after,
    &-stage > :after {
      position: absolute;
      top: 0;
      left: 100%;
      content: "";
      height: 0;
      width: 0;
      border: 40px solid transparent;
      border-right-width: 0;
      border-left-width: 18px;
    }
    &-stage {
      position: relative;
      margin-right: 3px;
      font-size: 14px;
      flex: 1 1 1%;
      font-weight: 600;
      text-align: center;

      &:last-child {
        margin-right: 0;

        .brz-span:after,
        &:after {
          display: none;
        }
      }
      &:after {
        z-index: 1;
        transform: translateX(3px);
        border-left-color: #f0f1f2;
        margin: 0;
      }
      &:first-of-type {
        border-radius: 0.25em 0 0 0.25em;
      }
    }
    .brz-span {
      display: block;
      position: relative;
      height: 80px;
      line-height: 80px;
      padding-left: 2.5em;
      padding-right: 2.5em;
      color: #292e37;
      background-color: #e0e1e2;
      border-color: #e0e1e2;

      &:after {
        border-top-width: 40px;
        border-bottom-width: 40px;
        z-index: 2;
        border-left-color: inherit;
      }
      .brz-img {
        max-width: 42px;
      }
    }
    &-stage--active .brz-span {
      background-color: rgba(#22b0da, 0.25);
      border-color: rgba(#22b0da, 0.25);
      color: #102750;
    }
    + .brz-ed-popup-integrations-step__done {
      height: auto;
      padding-top: 78px;
    }
  }

  // Confirmation Email
  &__confirmation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  // Steps - Account | List | Fields | Done
  // Account
  &-step {
    margin-right: 36px;
    margin-left: 36px;
    padding-top: 11px;
  }
  &-step__head {
    font-size: 13px;
    color: #292e37;
    margin-bottom: 19px;
  }
  &-step__buttons {
    display: flex;
    margin-top: 35px;

    .brz-button:nth-child(1) {
      margin-right: auto;
    }
    .brz-button:nth-child(1):last-child,
    .brz-button:nth-child(2) {
      margin-left: auto;
      margin-right: 0;
    }
  }
  &-option__radio {
    color: $option-color;

    .brz-control__radio-option {
      position: relative;
      font-size: 15px;
      font-weight: 500;
      border-bottom: 1px solid rgba(#000, 0.1);
      padding: 17px 30px 16px 4px;
      height: 51px;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &--active {
        color: $brand-primary;
      }
    }
    .brz-control__radio-check {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
  &-new__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: $option-color;
    border-bottom: 1px solid rgba(#000, 0.1);
    padding: 17px 0 17px 4px;
    transition: 0.2s linear color;

    &:hover {
      color: $brand-primary;
      transition: 0.2s linear color;
    }
    .brz-icon-svg {
      font-size: 16px;
      margin-right: 10px;
    }
  }

  // Lists
  &-step__lists {
    .brz-ed-popup-integrations-new__option {
      margin-bottom: 21px;
    }
  }
  &-step__lists-create {
    padding-top: 0;
  }

  &__confirmation {
    .brz-control__select {
      width: 224px;
    }
    .brz-p {
      color: $option-color;
      font-size: 15px;
    }
  }
  &--delete {
    cursor: pointer;
    color: $option-color;
    transition: 0.2s linear color;
    font-size: 0;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    &:hover {
      color: $floating-button-red;
      transition: 0.2s linear color;
    }
    .brz-icon-svg {
      font-size: 16px;
    }
  }

  // Fields
  &-step__fields {
    .brz-ed-popup-integrations-step__head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .brz-p:last-child {
        max-width: 223px;
        width: 100%;
      }
    }
  }
  &-fields__tooltip {
    font-size: 0;
    line-height: 1;
    margin-left: 7px;
    color: #92989c;
    cursor: pointer;

    .brz-icon-svg {
      font-size: 13px;
    }
  }
  &-fields__info {
    line-height: 1.5;
    font-family: $font-family-1;
    background-color: #03080f;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 18px 20px;
    border-radius: 10px;
    max-width: 240px;
    font-size: 13px;
    font-weight: 500;

    .brz-span {
      color: #91cb8a;
    }
    .brz-p {
      font-size: 13px;
      font-weight: 600;

      &:first-child {
        margin-bottom: 13px;
      }
    }
  }
  &-step__fields-option {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
    color: $option-color;
    border-bottom: 1px solid rgba(#000, 0.1);

    > .brz-d-xs-flex {
      flex-basis: 40%;
      max-width: 40%;
    }
    .brz-p {
      font-size: 15px;
      font-weight: 500;
    }
  }
  &-step__fields-option--big {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-step__fields-select {
    max-width: 223px;
    width: 100%;

    .brz-control__select {
      width: 100%;
    }
    .brz-control__select-current,
    .brz-control__select-current:hover,
    .brz-control__select-options {
      background-color: #fff;
    }
    .brz-control__select-option .brz-strong {
      color: #ff0e0e;
      padding-left: 5px;
    }
  }
  &-step__fields-select,
  &-step__fields-input {
    max-width: 223px;
    width: 100%;

    .brz-textarea,
    .brz-input {
      width: 100%;
      height: 30px;
      font-size: 13px;
      padding: 0 10px;
      border-radius: 5px;
      background-color: #fff;
      color: #383e48;
      border-color: transparent;
      outline: none;
    }
    .brz-textarea {
      height: auto;
      min-height: 70px;
      resize: none;
      padding: 10px;
    }
  }
  &-step__fields-upload {
    flex-basis: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .brz-span {
      font-size: 13px;
      color: rgba(43, 48, 57, 0.85);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
    .brz-button {
      margin-left: 14px;
    }
  }
  // Done
  &-step__done {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    padding-top: 0;
  }
  &-step__done-icon {
    margin-bottom: 30px;
    font-size: 0;
    line-height: 1;
    color: #48be24;

    .brz-icon-svg {
      font-size: 47px;
    }
  }
  &-step__done-content {
    font-size: 14px;
    color: $option-color;
    line-height: 21px;
    max-width: 234px;
    margin-bottom: 42px;
  }
}
.brz-ed-popup-integration {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  // Email
  &-email {
    position: relative;
  }
  &-email__template {
    padding: 0 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(calc(100% - 60px));
    transition: 0.18s ease-out transform;

    &--open {
      transform: translate(0);
      transition: 0.18s ease-in transform;
    }
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &-body {
      margin-bottom: 23px;
      color: #626b70;

      .brz-textarea {
        display: block;
        width: 100%;
        height: 120px;
        max-height: 230px;
        min-height: 40px;
        font-size: 13px;
        border-radius: 5px;
        resize: vertical;
        padding: 10px;
        background-color: #fff;
        border-color: transparent;
        color: #383e48;
        margin-bottom: 16px;
        outline: none;
      }
      .brz-p {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
  &-email__info {
    color: #91cb8a;
    padding: 20px;

    .brz-icon-svg {
      font-size: 8px;
      margin-right: auto;
      vertical-align: middle;
      color: rgba(#fff, 0.6);
      opacity: 0;
      transition: 0.2s linear opacity;
    }
    .brz-ed-animated {
      animation-duration: 0.7s;
    }
    .brz-p {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .brz-span:first-child {
        margin-right: 7px;
      }
    }
    .brz-p:hover .brz-icon-svg {
      opacity: 1;
      transition: 0.2s linear opacity;
    }
    .brz-p:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  &-email__tooltip {
    margin-left: 5px;

    .brz-ed-tooltip__content {
      color: #92989c;
      font-size: 12px;
      cursor: pointer;
    }
  }

  // Fonts
  &__font-name.brz-p {
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s linear color;

    &:hover {
      color: $brand-primary;
      transition: 0.2s linear color;
    }
  }
}

// --- Responsive
@media screen and (max-height: 899px) {
  .brz-ed-popup-integrations {
    .brz-ed-popup-content {
      height: 465px;
    }
    .brz-ed-popup-integrations-step__account {
      .brz-ed-popup-integrations__scroll-pane .brz-ed-scroll-inner {
        max-height: 155px !important;
      }
    }
    .brz-ed-popup-integrations-step__lists {
      .brz-ed-popup-integrations__scroll-pane {
        .brz-ed-scroll-inner {
          max-height: 153px !important;
        }
        &--small .brz-ed-scroll-inner {
          max-height: 204px !important;
        }
        &--big .brz-ed-scroll-inner {
          max-height: 102px !important;
        }
      }
      &-create {
        .brz-ed-popup-integrations-step__head {
          margin-bottom: 5px;
        }
        .brz-ed-popup-integrations-step__buttons {
          margin-top: 25px;
        }
      }
    }
    .brz-ed-popup-integrations-step__fields {
      .brz-ed-popup-integrations__scroll-pane .brz-ed-scroll-inner {
        max-height: 205px !important;
      }
    }
  }
}
