// --- Tabs
.brz-ed-control__tabs:not(.brz-ed-control__tabs__left) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: $options-item-padding;
  padding-right: $options-item-padding;
  border-bottom: 1px solid $brand-options-border;
  color: $options-label-color;
  font-family: $font-family-1;
  font-size: $popover-tabs-font-size;
  float: none;

  .brz-ed-control__tab {
    cursor: pointer;
    transition: color 0.2s linear;
    border-bottom: 2px solid transparent;
    height: $popover-tabs-height;
    display: inline-flex;
    align-items: center;
    margin: 0 0 -1px;
    padding-top: 2px;
    width: auto;

    &:hover,
    &.active {
      color: $brand-primary;
      transition: color 0.2s linear;
    }
    &.active {
      border-bottom-color: $brand-primary;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }

    // Tab with Icon
    &__icon {
      height: 42px;

      .brz-icon-svg {
        font-size: 16px;
        flex: 1 0 auto;

        & + .brz-span:not(:empty) {
          margin-left: 10px;
        }
      }
    }
  }
}

// Left Side Tabs
.brz-ed-control__tabs__left {
  position: absolute;
  z-index: 0;
  left: -38px;
  top: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .brz-ed-control__tab {
    width: 30px;
    height: 35px;
    background-color: rgba(139, 147, 154, 0.92);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin: 0 0 1px;
    position: relative;
    left: 8px;

    &.active {
      color: $brand-primary;
      background-color: rgba(3, 8, 15, 0.92);
    }
  }
}

// Tabs for editor sidebar
.brz-ed-control__tabs__editor {
  &.brz-ed-control__tabs__editor {
    width: 144px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;

    & + .brz-ed-control__tab__content {
      margin-bottom: -9px;
    }
  }
}
