// Resizer between Column
$resize-width: 20px;

// ---
.brz-ed-draggable__column {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: z("column-resize");
  width: $resize-width;
  height: 100%;
  cursor: col-resize;

  &--item {
    width: 8px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-3px, -50%);
    background-color: $resize-blue;
  }
  &--left {
    left: -$resize-width / 2;
  }
  &--right {
    right: -$resize-width / 2;
  }
  &--red {
    .brz-ed-draggable__column--item {
      background-color: $resize-red;
    }
  }
  &-popover {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    padding: 15px 18px;
    min-width: 135px;
    height: $toolbar-item-height;
    border-radius: $toolbar-item-height / 2;
    color: #fff;
    font-family: $font-family-1;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background-color: $toolbar-bg-color;
    box-shadow: $toolbar-box-shadow;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -6px;
      bottom: -6px;
      border-top: 6px solid $toolbar-bg-color;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    &__divider {
      margin: 0 7px;
      color: #6e787f;
    }
  }
}

// Hide Resize for last-child on desktop
&.brz-ed--desktop {
  .brz-columns:last-child .brz-ed-draggable__column--right {
    display: none;
  }
}

// Resize on tablet/mobile
&.brz-ed--tablet,
&.brz-ed--mobile {
  .brz-ed-draggable__column-popover {
    min-width: 85px;
  }
  .brz-ed-draggable__column--left {
    display: none;
  }
}
