// Popup v2
.brz-popup2 {
  & > .brz-ed-border {
    height: 100%;
  }
  &__button-go-to-editor {
    font-family: $font-family-1;
    position: absolute;
    left: 40px;
    top: 34px;
    font-size: 13px;
    font-weight: 600;
    padding: 13px 23px 13px 18px;
    color: #fff;
    background-color: rgba(3, 8, 15, 0.92);
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 9999;
    outline: none;
    text-transform: uppercase;
    transition: 0.2s linear color;

    &:hover {
      color: #3dbfe8;
      text-decoration: none;
      transition: 0.2s linear color;
    }
    &:focus {
      outline: none;
    }
  }
  &__icon-go-to-editor {
    vertical-align: text-top;
    margin-right: 16px;
  }
}
