.fb_iframe_widget {
  min-height: 20px;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style],
.fb-post,
.fb-video,
.fb-comments,
.fb-comments span,
.fb-comments span iframe[style] {
  width: 100% !important;
  min-width: 100% !important;
}

.brz-fb-page,
.brz-fb-embed,
.brz-fb-group {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    pointer-events: none;
  }
}

.brz-fb-page,
.brz-fb-comments {
  width: 100%;
}
