// Image Component
.brz-image {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-basis: 100%;
  width: 100%;

  .brz-img {
    max-width: 100%;
    border-radius: inherit;
  }
  .brz-a,
  picture {
    outline: none;
    border-radius: inherit;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.brz-ed-image__content {
  position: relative;
  width: 100%;
}
.brz-ed-image__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .brz-img {
    max-width: none;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
  }
  picture {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

// Ratio for video
.brz-image-fix-1-1 {
  padding-top: 100%;
}
.brz-image-fix-2-1 {
  padding-top: 50%;
}
.brz-image-fix-2-3 {
  padding-top: 150%;
}
.brz-image-fix-3-4 {
  padding-top: 125%;
}
.brz-image-fix-4-3 {
  padding-top: 75%;
}
.brz-image-fix-9-16 {
  padding-top: 177.8%;
}
.brz-image-fix-16-9 {
  padding-top: 56.25%;
}

// Preview
&:not(.brz-ed) {
  .brz-image {
    .brz-a,
    .brz-img,
    picture {
      width: 100%;
      height: auto;
    }
    &__lightbox * {
      cursor: zoom-in;
    }
  }
}

// Lightbox
.mfp-bg {
  z-index: z("brz-ed-fixed"); // 1100
}
.mfp-wrap {
  z-index: z("brz-ed-fixed") + 1; // 1101
}
.mfp-figure:after,
.mfp-iframe-scaler iframe {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
}
