// Popups
.brz-popup2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: z("section-popup");

  &__close {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 0;
    cursor: pointer;

    .brz-icon-svg {
      font-size: 26px;
    }
  }
  .brz-container__wrap {
    position: relative;
  }
  &__inner {
    height: 100%;

    & > .brz-bg-content {
      max-height: 100%;
      display: flex;

      & > .brz-container__wrap {
        margin: 0;
        padding: 0;
        min-width: 300px;
      }
    }
  }
  &__vertical-align {
    transform: rotate(270deg);
  }
}

// Popup for preview
.brz-popup2__preview {
  z-index: -1;
  visibility: hidden;
  transform: translate(-100%);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
    0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) visibility,
    0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) z-index;

  &.brz-popup2--opened {
    z-index: z("toolbar");
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
      0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) visibility,
      0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) z-index;
  }
}
