// Section Full Height
.brz-section {
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: visible;

  &__content {
    position: relative;
    width: 100%;

    > .brz-bg {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  // Slider
  > .brz-slick-slider {
    .brz-container__wrap {
      align-items: center;
    }
    &:not(.slick-initialized) {
      & > .brz-section__items:not(:first-child) {
        display: none;
      }
    }
    & > .slick-list > .slick-track > .slick-slide {
      height: auto;

      .brz-section__content {
        > .brz-bg > .brz-bg-content {
          height: 100%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}

// Section Full height
.brz-sec-full-height {
  .brz-container__wrap,
  .brz-container__wrap--fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
}

// Section Menu
.brz-section__header {
  > .brz-section__menu-item {
    position: relative;
    z-index: z("section-menu");
  }
  &--animated {
    position: fixed;
    z-index: z("section-menu") + 1;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    transition: none;

    &-opened {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      transition: transform 0.2s linear, opacity 0.2s linear;
    }
    &-closed {
      transition: transform 0.2s linear, opacity 0.2s linear;
    }
  }
  &--fixed {
    position: relative;
    z-index: z("section-menu");

    &-opened {
      position: fixed;
      z-index: z("section-menu") + 1;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// Section Popup
.brz-popup__inner {
  height: 100%;
}

// Responsive
@include media-breakpoint-down(sm) {
  &.brz-ed .brz-section__header {
    &--animated {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
