// Shortcode Text
.brz-rich-text {
  -webkit-font-smoothing: antialiased;
  flex: 1 1 auto;
  min-width: 0;

  @include word-wrap;

  > * {
    white-space: pre-wrap;
  }

  i,
  em {
    font-style: italic;
  }
  ul,
  ol {
    li {
      list-style: none;
      padding-left: 1em;

      &:before {
        margin-left: -1em;
      }
    }
  }
  ul {
    li:before {
      position: relative;
      top: -0.1em;
      line-height: 1;
      content: "\2022";
      padding-right: 0.5em;
    }
  }

  ol {
    counter-reset: number;

    li {
      counter-increment: number;

      &:before {
        content: counter(number);
        line-height: 1;
        padding-right: 0.5em;
      }
    }
  }

  .ql-editor {
    white-space: pre-wrap;
  }

  .brz-text-mask,
  .brz-image-gradient {
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
  }

  // Text Reset
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    // text-shadow: none;
    text-transform: initial;
    text-decoration: initial;

    &:before {
      display: none;
    }
  }
  p,
  span {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    // text-shadow: none;
    text-transform: initial;
    text-decoration: initial;
  }
  span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
  p {
    display: block;
  }
  a,
  em,
  span {
    display: inline;
  }
  ol,
  ul,
  dl {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin: 0;
  }
  a {
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

    &[href] {
      @include hover {
        text-decoration: $link-hover-decoration;
      }
    }
  }
  .link--anchor,
  .link--external,
  .link--popup {
    text-decoration: $link-decoration;

    @include hover {
      text-decoration: $link-hover-decoration;
    }
  }

  .brz-tp__dc-block {
    @include clearfix;
  }
}

// Simple text
.brz-text__editor {
  min-width: 10px;

  &:empty:before {
    content: "\00a0\00a0";
  }
}

// Only preview
&:not(.brz-ed) {
  .brz-population-mask {
    background-clip: text;
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
